<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="modal" id="editModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Form</div>
                </div>
                <div class="modal-body">
                    <form action="" id="editForm">
                        <input type="text" placeholder="id" class="form-control" id="stdID" style="margin-bottom: 20px;" disabled>
                        <input type="text" placeholder="Student Name" id="name" class="form-control" class="m-3" style="margin-bottom: 20px;">
                        <input type="text" id="selectedCourses" >
                        <div id="courses">

                        </div>
                        <div id="selectedCourses">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <table class="table table-primary" id="table1" >
            <tr>
                <th>id </th>
                <th>Name</th>
                <th>courses</th>
                <th colspan="2">Action</th> 
                
            </tr>
            
        </table>
    </div>
</div>
    <script>
$.ajax({
    url: 'http://localhost:8000/v1/student/',
    type: 'GET',
    dataType: 'json',
    success: function(data) {
        var row;
        for(var i=0; i<=data.length-1; i++){
            $("#table1").append("<tr><td id='' class='m-3'>"+data[i].id+"</td><td id='stdName' class='m-3'>"+ data[i].name +"</td><td id='courses'>"+data[i].courses.map(myfunction)+"</td><td>"+"<button class='btn btn-warning' data-toggle='modal' onclick='editFunc()' data-target='#editModal'"+ " id='editBtn'>Edit</button></td><td><button class='btn btn-danger'>Delete</button></td></tr>");
           function myfunction(course){
            return course.name
          } 
        }
    }
});
$.ajax({
    url:'http://localhost:8000/v1/course/',
    type:'GET',
    dataType:'json',
    success:function(data){
        var option='';
        for(var i=0; i<=data.length-1; i++){
            console.log(data[i].name)
            // $("#editModal").on('shown.bs.modal',e=>{
            //     $("#editModal").find("#course").append("<input type='checkbox'  name='vehicle1' value='" + data[i].id +">");
            // })
           option+= "<input type='checkbox'  name='vehicle1' value='"+data[i].id+"'>  "+data[i].name+"<br>"
        }
        $("#courses").html(option);
    }
});
function editFunc(){
  
   var courses= $('#courses').val($button.closest('td').prev().text().trim());
   var course=''
   course= $('#courses').val()
console.log(course)

        }
        
function loadData(){
    var stdNme=document.getElementById("stdName")
    console.log(stdNme.innerText)
    document.getElementById('name').value=stdNme.innerText
}
// bellow code get data from table and show them on modal on edit button click
$('#editModal').on('show.bs.modal', e => {
  var $button = $(e.relatedTarget);
  $('#name').val($button.closest('td').prev().prev().text().trim());
  $('#stdID').val($button.closest('td').prev().prev().prev().text().trim())
  $('#selectedCourses').val($button.closest('td').prev().text().trim())

});

    </script>


</body>
</html>